@import "tailwindcss";
@theme {
  --color-primary: #98ca48;
  --color-primary-light: #effbdc;
  --color-primary-dark: #537d11;
  --color-secondary: #effbdc;
  --color-gray: #f4f6f2;
}
@layer components {
  .btn-primary {
    @apply bg-primary rounded-full py-3 text-sm px-4 text-white cursor-pointer hover:bg-transparent border border-transparent hover:border-primary hover:text-primary transition-colors;
  }
}

p,
.text-manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
